[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
[submodule "external/luasocket"]
	path = external/luasocket
	url = https://github.com/lunarmodules/luasocket
[submodule "external/dockgen"]
	path = external/dockgen
	url = https://github.com/CDSoft/dockgen
